---
title: "Comparative Verification of Control Methodology for Robotic Interventional Neuroradiology Procedures"
collection: publications
permalink: /publication/comparative-verification/
excerpt: "A comparative verification of control methods for robotic interventional neuroradiology."
date: 2023-07-17
venue: "International Journal of Computer Assisted Radiology and Surgery"
paperurl: "https://doi.org/10.1007/s11548-023-02991-2"
citation: >-
  Benjamin Jackson, William Crinnion, Mikel De Iturrate Reyzabal, <strong>Harry Robertshaw</strong>, Christos Bergeles, Kawal Rhode, and Thomas C. Booth (2023). “Comparative Verification of Control Methodology for Robotic Interventional Neuroradiology Procedures.” <i>International Journal of Computer Assisted Radiology and Surgery</i>, 18, 1977–1986.
---

This study compares and verifies control methods for robotic interventional neuroradiology procedures.

[Read the article](https://doi.org/10.1007/s11548-023-02991-2)
